h1 {
    margin-bottom: 4vh !important;
}

h2 {
    margin-bottom: 2vh !important;
}

.sidebar {
    height: 100vh;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
}

.profile-pic {
    float: right;
    padding-top: 50px;
    width:"300px";
    height: "300px";
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10vh;
    padding-left: 0%;
    /* padding: 5vh 5vw; */
    padding-bottom: 0%;
    background-image: url("https://img.freepik.com/free-vector/background-realistic-abstract-technology-particle_23-2148431735.jpg?w=1060&t=st=1691206526~exp=1691207126~hmac=53bf3137f86c32ccb539b26a534677b8986ecd7428c4ebc9b130af0b9b393f79");
    background-size: 100% 100%;
}

.content-except-footer {
    padding: 5vh 5vw;
}

.project-container {
    width: 70vw;
    /* height: 300; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
}

.card {
    width: 100%;
}
.nav-pills .nav-link.active {
    background-color: #61677A;
}

#telephone-icon {
    margin-right: 10px;
    margin-bottom: 3px;
}

@media (max-width: 680px) {
    
    .content-header {
        display: none
    }

    .profile-pic > img {
        width: 150px;
        height: 150px;
    }

    .project-container {
        width: 50vw;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 15px;
    }

}

@media (max-width: 1200px) and (min-width: 680px) {
    .project-container {
        width: 60vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 15px;
    }
}