h1 {
    margin-bottom: 4vh !important;
}

h2 {
    margin-bottom: 2vh !important;
}

.sidebar {
    height: 100vh;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
}

.nav-animate {
    font-weight: 600;
}

.project-animate {
    box-shadow: 2px 2px 4px black, 0 0 2em lightblue, 0 0 0.4em darkblue;
}

.project-url-animate {
    box-shadow: 1px 1px 2px black, 0 0 1em lightblue, 0 0 0.2em darkblue;
}

.profile-pic {
    float: right;
    padding-top: 50px;
    width: "300px";
    height: "300px";
}

.code-profiles {
    position: fixed;
    top: 0;
    right: 0;
    padding-right: 2vw;
    flex-direction: row-reverse;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10vh;
    padding: 8vw 8vw;
    background-image: url("../images/endless-constellation.svg");
    /* background by SVGBackgrounds.com */
}

.title {
    font-size: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.project-container {
    width: 63vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 25px;
}

.card {
    width: 100%;
}

.nav-pills .nav-link.active {
    background-color: #61677A;
}

#telephone-icon {
    margin-right: 10px;
    margin-bottom: 3px;
}

.sidebar>ul>li>a {
    display: flex;
}

@media (max-width: 838px) {

    .sidebar>ul>li>a {
        justify-content: center;
    }

    .sidebar>a {
        justify-content: center;
    }

    .code-profiles {
        position: fixed;
        top: 0;
        left: 90%;
        padding-right: 2vw;
        flex-direction: column;
    }

    .content-header {
        display: none
    }

    .profile-pic {
        width: 250px;
        height: 250px;
    }

    .project-container {
        width: 60vw;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 15px;
    }

}

@media (max-width: 1200px) and (min-width: 680px) {
    .project-container {
        width: 65vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 15px;
    }

    .code-profiles {
        position: fixed;
        top: 0;
        left: 95%;
        padding-right: 2vw;
        flex-direction: column;
    }
}

.project-ss {
    height: 30%;
    overflow: hidden;
}

.project-links {
    display: flex;
    justify-content: space-between;
}

footer {
    background-color: black;
    color: #ffffff;
    background: rgb(7, 4, 25);
    background: linear-gradient(180deg, rgba(7, 4, 25, 1) 28%, rgba(4, 188, 189, 1) 100%);
    padding: 2vw;
    display: flex;
    justify-content: center;
}